body {
     background-color: #EFFBFB;
   }

.cost {

 	font-size : large;
 	color: #4000FF;
 	font-weight: bold;
 }

strong {

	font-weight: bold;
}

section {

	margin-bottom: 1em;
}

#unit {

	width: auto;
	width : 300%;
	max-width: 300%;
}

#unitButton {

	margin-top: 1em;
}